p {
    font-family: -apple-system, system-ui;
    font-size: 14px;
}

a {
    font-family: -apple-system, system-ui;
    font-weight: 500;
    text-decoration: none;
    color: #0095f6;
    font-size: 14px;
}

body {
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    height: 100%;
}

.insta-wrap {
    display: flex;
    max-width: 935px;
    max-height: 625px;
    margin: auto;
    margin-top: 32px;
    justify-content: center;
    padding-bottom: 32px ;
}

.insta-phone {
    margin-right: 32px;
    margin-bottom: 12px;
}

.phone-image {
    width: 388px;
    height: 583px;
}

.insta-continue {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 581.15px;
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.first {
    margin-top: 12px;
}

.logo {
    align-self: center;
    margin-top: 36px;
    margin-bottom: 12px;
}

.profile-image {
    display: flex;
}

.profile-image img {
    align-self: center;
    max-width: 110px;
    border-radius: 50%;
}

.button {
    background-color: #0095f6;
    padding: 7px 10px 7px 10px;
    border-radius: 8px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 18px;
}

.log-out {
    margin-bottom: 18px;
}

.bruno-image {
    align-self: center;
}

.account {
    margin-bottom: 3px;
}

.not-account {
    margin-top: 0px;
}

.badges {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 350px;
}

.downloads {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.app-download {
    height: 40px;
    width: 136px;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('img/badges/ios-badge.png');
}

.app-download:nth-child(2) {
    background-image: url('img/badges/android-badge.png');
}

.footer {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 52px;
}

.footer-mobile {
    display: none;
}

.refs-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 935px;
    margin-top: 16px;
}

.refs-box-box {
    display: flex;
    height: 23px;
}

.foot-ref {
    font-size: 12px;
    flex-shrink: 0;
    font-weight: 400;
    color: #8e8e8e;
    margin: 0 8px 10px 8px;
}

.copy-box {
    display: flex;
    align-items: flex-start;
    margin-top: 12px;
    margin-bottom: 12px;
    gap: 15px;
    height: 11px;

}

@media (max-width: 950px) {
    .insta-wrap {
        width: 90%;
        height: fit-content;
    }

    .insta-phone {
        display: none;
    }

    .insta-continue {
        width: 50%;
    }

    .button {
        width: 70%;
    }

    .refs-box {
        display: none;
    }

    .downloads {
        flex-direction: column;
    }

    .footer {
        display: none;
    }

    .footer-mobile {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
    }
}